# build files
build/
cmake-build-*/
# Genrated images from compiler
data/output/* 
!data/output/.gitkeep
# IDE files
.vscode/
.idea/
# Object and executable files from compilation
*.o
*.obj
*.exe
*.out
.DS_Store